doctype html
html
    head
        title Đăng kí Email
        meta(charset="utf-8")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="../../SCSS/Email/email.css")
    body
        .lcontainer
            .img 1
            .info 2
