nav.my-nav
<<<<<<< HEAD
    ul
        li.li-1
            img(src="../../../IMG/button-menu.png", alt="")
=======
    ul.my-nav__ul
        li.li-1
            img(src="../../IMG/button-menu.png", alt="")
>>>>>>> all file fixed ,deteled last line
        li.li-2
            a(href="") TRANG CHỦ
        li.li-3
            a(href="") GIỚI THIỆU
        li.li-4
            .dropdown
                button.dropbtn SẢN PHẨM &nbsp;&nbsp;&nbsp;
                    i.fa.fa-caret-down
                .dropdown-content
                    a(href='#') Link 1
                    a(href='#') Link 2
                    a(href='#') Link 3
        li.li-5
            .dropdown
                button.dropbtn SẢN PHẨM MỚI &nbsp;&nbsp;&nbsp;
                    i.fa.fa-caret-down
                .dropdown-content
                    a(href='#') Link 1
                    a(href='#') Link 2
                    a(href='#') Link 3
        li.li-6
            a(href="") TIN TỨC
        li.li-7
            a(href="") LIÊN HỆ
        li.li-8
            a(href="") TIN TỨC
        li.li-9
            a(href="") LIÊN HỆ
nav.my-nav__mobi
    img.list-menu(src="../../IMG/button-menu.png", alt="")
    img.bag(src="../../IMG/icon-mobi.png", alt="")
    ul.my-nav__mobi__ul
        li
            a(href="") TRANG CHỦ
        li
            a(href="") GIỚI THIỆU
        li.li-4
            .dropdown
                button.dropbtn SẢN PHẨM &nbsp;&nbsp;&nbsp;
                    i.fa.fa-caret-down
                .dropdown-content
                    a(href='#') Link 1
                    a(href='#') Link 2
                    a(href='#') Link 3
        li.li-5
            .dropdown
                button.dropbtn SẢN PHẨM MỚI &nbsp;&nbsp;&nbsp;
                    i.fa.fa-caret-down
                .dropdown-content
                    a(href='#') Link 1
                    a(href='#') Link 2
                    a(href='#') Link 3
        li.li-6
            a(href="") TIN TỨC
        li.li-7
            a(href="") LIÊN HỆ       
