include ..\DATA\DTconnect
-const array2to8 = [li2,li3,li4,li5,li6,li7,li8]
.lconnect
    ul
        li.element-1
            p Open time 8:00-18:00 Monday-Sunday
        each n,i in array2to8
            li(class=n.class)
                a(href="") #{n.content}
                    img(src=n.src, alt="")
