.lconnect
    ul
        li.li-1
            p Open time 8:00-18:00 Monday-Sunday
        li.li-2
            a(href="")
                img(src="../../IMG/icon-facebook.png", alt="")
        li.li-3
            a(href="")
                img(src="../../IMG/icon-twier.png", alt="")
        li.li-4
            a(href="")
                img(src="../../IMG/icon-t.png", alt="")
        li.li-5
            a(href="")
                img(src="../../IMG/icon-v.png", alt="")
        li.li-6
        li.li-7
            a(href="") Đăng nhập 
                img(src="../../IMG/icon-DangNhap.png", alt="") 
        li.li-8
            a(href="") Đăng ký
                img(src="../../IMG/icon-dangky.png", alt="") 
