doctype html
html
    head
        title 
        meta(charset="utf-8")
        meta( name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="../../SCSS/header/headerBackgroud/headerBackgroud.css")
        link(rel="stylesheet", href="../../SCSS/header/nav/nav.css")
        link(rel="stylesheet", href="../../SCSS/connect/connect.css")
        link(rel="stylesheet", href="../../SCSS/main/detail.css")
        link(rel="stylesheet", href="../../SCSS/footer/footer.css")    
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        link(href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="../../../SCSS/header/headerBackgroud/headerBackgroud.css")
        link(href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet")
    body
        include ..\..\PUG\connect\connect
        header 
            .action
                ul.action__ul
                    li.li-1  
                        p.li-p1 Green Shop
                        p.li-p2 Món quà từ thiên nhiên
                    li.li-2
                        .divImg
                            img.img1(src="../../IMG/hoa-panner1.png", alt="")
                            img.img2(src="../../IMG/hoa-panner2.png", alt="")
                    li.li-3
                        p Hỗ trợ : (04) 6674 2332 - (04) 3786 8904
                        .search
                            form(action="", method="get")
                                input.text
                                img(src="../../IMG/icon-search.png", alt="")
                    li.li-4                    
                        p.li-4-p  0 Sản phẩm &nbsp;&nbsp;&nbsp;&nbsp;
                            img(src="../../IMG/icon-Gio-Hang.png", alt="")
            include ..\..\PUG\header\nav\nav
        include ..\..\PUG\main\detail
        include ..\..\PUG\footer\footer
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(src='../../PUG/JS/slider.js')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js")
