.container-tableBK
    .addressLocal
        a.addressLocal__a(href="") Home
        a.addressLocal__a1(href="") /Giỏ Hàng
    .title
        p Giỏ hàng
    .Table
        table#basket
            tr
                th Hình ảnh
                th Tên sản phẩm
                th Đơn giá 
                th Số lượng
                th Thành tiền
                th Xóa
            each val in [1, 2, 3]
                tr
                    td 
                        img.img-product(src="../../IMG/spx2-1.png", alt="")
                    td.name-product CÂY VĂN PHÒNG
                    td.price
                        p 270.000 Đ
                    td.number
                        p 1
                    td.price-total
                        p 270.000 Đ
                    td.cancel
                        img(src="../../IMG/Cancel.png", alt="")
        .Table__action
            .Table__action__cancel HỦY ĐƠN HÀNG
            .Table__action__go TIẾP TỤC MUA
        .Table__pay
            table
                tr
                    td TỔNG TIỀN (CHƯA THUẾ)
                    td 270.000 Đ
                tr
                tr
                    td THUẾ (VAT 10%)
                    td 270.00 Đ
                tr
                tr.total
                    td TỔNG TIỀN PHẢI THANH TOÁN
                    td 297.000 Đ
                tr   