.container-tableBK
    .addressLocal
        a.addressLocal__a(href="") Home
        a.addressLocal__a1(href="") /Giỏ Hàng
    .title
        p Giỏ hàng
    .Table
        table#basket
           
        .Table__action
            .Table__action__cancel HỦY ĐƠN HÀNG
            .Table__action__go TIẾP TỤC MUA
        .Table__pay
            table
                tr
                    td TỔNG TIỀN (CHƯA THUẾ)
                    td 270.000 Đ
                tr
                tr
                    td THUẾ (VAT 10%)
                    td 270.00 Đ
                tr
                tr.total
                    td TỔNG TIỀN PHẢI THANH TOÁN
                    td 297.000 Đ
                tr   