include ..\DATA\DTlistProduct
include ..\DATA\DTnew
include ..\DATA\MXhome
.contentNewDetail
    .addressLocal
        a.addressLocal__a(href="") Home
        a.addressLocal__a1(href="") /Danh sách sản phẩm
    .content
        .content__classify
            .content__classify__listProduct
                .content__classify__listProduct__title
                    p.content__classify__listProduct__title__p Danh mục sản phẩm
                    hr.content__classify__listProduct__title__hr
                .content__classify__listProduct__content
                    ul
                        each n,i in arrayContent
                            li
                                a(href="")=">"+n
                                hr
            .content__classify__newHost
                .content__classify__newHost__title
                    p.content__classify__newHost__title__p Tin tức nổi bật
                    hr.content__classify__newHost__title__hr 
                .content__classify__newHost__content
                    each n,i in arrayTin
                        +my-card-hor-new(n)
            .content__classify__tag
                .content__classify__tag__title
                    p.content__classify__tag__title__p Blog tag
                    hr.content__classify__tag__title__hr 
                .content__classify__tag__content
                    each n,i in arrayTag
                        .tag #{n}
        .content__new
            .content__new__title
                p Cách bố trí chậu hoa trước cửa ấn tượng ngay lần đầu tiên
            .content__new__status
                .date 
                    img(src="../../IMG/08-chi-tiet-tin_03.png", alt="")
                | 20/12/2015
                .time
                    img(src="../../IMG/08-chi-tiet-tin_05.png", alt="")
                |  11:20:00 AM
                .numbercmt
                    img(src="../../IMG/08-chi-tiet-tin_07_01.png", alt="")
                |  0 Bình luận
            .content__new__content
                img(src="../../IMG/img-detail-new1.png", alt="")
                p Như thể hiện sự thân thiện cũng như sự hiếu khách của gia chủ phần không gian trước cửa nhà luôn được đầu tư và trang trí bắt mắt cũng có thể nói đây là bộ mặt của ngôi nhà là ấn tượng đầu tiên khi khách
                |để chơi nhà bạn hãy cùng Sài Gòn hoa tham khảo một vài cách bố trí chậu hoa cảnh trước cửa nhà sao cho ấn tượng nhất nhé
                p 7 loại cây xanh để bàn được giới văn phòng ưa chuộng những mẫu cây để bàn đang được giới văn phòng ưa chuộng cây cảnh văn phòng để bàn thông dụng những cây cảnh được giới văn phòng ưa chuộng 
                p Cây bạch mã hoàng tử để bán có chiều cao trung bình từ 20 đến 40 cm dáng đẹp màu xanh đậm với những đường vân
                |vành nhật mọc đối xứng với nhau trong nét sang trọng và lịch lãm 
                p Loại cây này ưa bóng chịu được nhiệt độ thấp lại có khả năng tạo ẩm và thanh lọc khí nên rất thích hợp trong văn phòng làm việc với máy lạnh mạch
                p Cây bạch mã hoàng tử thường được chọn để đặt trên bàn làm việc của sếp bạn nhỏ ở phòng tiếp khách hoặc bàn làm việc của các đấng mày râu
                p 2.Cây trầu bà đế vương 
                p Cây trầu bà đế vương tượng trưng cho sự quyền uy phong thái dẫn đầu nên thích hợp để bàn làm việc của người lãnh đạo quản lý doanh nghiệp 
                p Lá cây trầu bà đế vương quá to dài hơi bóng
                |đường gần rõ ràng có hình dạng như trái tim xòe rộng hướng lên trên trong rất bên nghĩ và cao xanh 
                p Tùy thuộc vào sở thích cá nhân và thiết kế chủ đạo của không gian phòng làm việc bạn có thể chọn loại trầu bà đế vương xanh trầu bà đế vương vàng hoặc trầu bà đế vương đỏ
                img(src="../../IMG/img-newline2.png", alt="")
                p Như thể hiện sự thân thiện cũng như sự hiếu khách của gia chủ không gian trước cửa nhà luôn được đầu tư và trang trí bắt mắt cũng có thể nói đây là bộ mặt của ngôi nhà là ấn tượng đầu tiên khi một vị khách ghé chơi nhà bạn đấy Hãy cùng Sài Gòn hoa tham khảo một vài cách bố trí chậu cây 
                |hoa cảnh trước cửa nhà sao cho ấn tượng nhất nhé
                P 7 loài hoa xanh để bàn được được giới văn phòng ưa chuộng những mẫu cây để bàn trang được giới văn phòng ưa chuộng cây cảnh văn phòng để thông dụng những cây cảnh được giới văn phòng ưa chuộn
            .content__new__comment
                .content__new__comment__title
                    |Bình luận (3)
                .content__new__comment__chat
                    +my-comment()
                    hr
                    +my-comment()
                    hr
                    +my-comment()
                    hr