include ..\DATA\DThome
.containerHome
    .containerHome__best
        p.containerHome__best__p Sản phẩm nổi bật
        hr.containerHome__best__hr
        .containerHome__best__list
            .containerHome__best__list__list1
                .containerHome__best__list__list1__Cardbig
                    .card
                        .card__status 
                            p.card__status__p New
                        .card__action 
                            p.card__status__p MUA NGAY
                        .card__search
                            img(src="../../IMG/icon-search-ct.png", alt="")
                        +my-card-body(caychanchim,caychanchim.src)
                .containerHome__best__list__list1__listCard
                    .card
                        +my-card-body(caycota)
                    .card
                        +my-card-body(cayduanho)
            .containerHome__best__list__list2 
                .containerHome__best__list__list2__listCard
                    .card
                        .card__status 
                            p.card__status__p -50%
                        +my-card-body(caydalam)
                    .card
                        .card__status 
                            p.card__status__p New
                        +my-card-body(caydanhdu)
                .containerHome__best__list__list2__Cardbig
                    .card
                        .card__status 
                            p.card__status__p -50%
                        +my-card-body(caydagocnho)
    .containerHome__titleSell
        .title__sell
            p.title__sell__p Sản phẩm mua nhiều
            hr.title__sell__hr
        .title__sale
            p.title__sale__p Sản phẩm khuyến mãi
            hr.title__sale__hr
    .containerHome__sell
        .containerHome__sell__list
            .containerHome__sell__list__best
                each n,i in arrayCay
                    +my-card-hor(n)
            .containerHome__sell__list__sale
                each n,i in arrayCay1
                    .card
                        +my-card-body(n)
        .containerHome__sell__advertisement
    .containerHome__titlenew
        .title__new
            p.title__new__p Sản phẩm nổi bật
            hr.title__new__hr
    .containerHome__new
        each n,i in arrayCay3
            .card
                +my-card-body(n)
    .containerHome__title__info
        .title__info
            p.title__info__p Sản phẩm nổi bật
            hr.title__info__hr
    .containerHome__info
        +my-card-info(info1)
        +my-card-info(info2)
        +my-card-info(info3)
        
        