include ..\DATA\DThome
include ..\DATA\MXhome
.container-home
    .container-home__best
        p.container-home__best__p Sản phẩm nổi bật
        hr.container-home__best__hr
        .container-home__best__list#container-home-featuredProducts
    .container-home__titleSell
        .title__sell
            p.title__sell__p Sản phẩm mua nhiều
            hr.title__sell__hr
        .title__sale#title__sale
            p.title__sale__p Sản phẩm khuyến mãi
            hr.title__sale__hr
    .container-home__sell
        .container-home__sell__list
            .container-home__sell__list__best
                each n,i in arrayCay
                    +my-card-hor(n)
            .container-home__sell__list__sale#container-home__sell__list__sale
        .container-home__sell__advertisement
    .container-home__titlenew
        .title__new
            p.title__new__p Sản phẩm mới
            hr.title__new__hr
    .container-home__new#title
    .container-home__title__info
        .title__info
            p.title__info__p Tin tức
            hr.title__info__hr
    .container-home__info
        +my-card-info(info1)
        +my-card-info(info2)
        +my-card-info(info3)
