.mapConnect
    #googleMap(style='width:1920px;height:400px;')
    .contact
        .contact__form
            .contact__form__title
                p THÔNG TIN LIÊN HỆ
            form(action="", method="get")
                label(for="name") Họ và tên :
                input#name(type="text")
                label(for="email") Địa chỉ email :
                input#email(type="email")
                label(for="phone") Số điện thoại :
                input#phone(type="text")
                label(for="comment") Bình luận
                input#comment(type="text")
        .contact__title
            .elemenPage__info
                p.elemenPage__info__p1 Green Shop
                p.elemenPage__info__p2 Món quà từ thiên nhiên
                p DKT được thành lập với niềm đam mê bắt Khát Vọng thành công trong lĩnh vực thương mại điện tử Chúng tôi đã và đang khẳng định được vị trí hàng đầu bằng những sản phẩm
                .date 
                    img(src="../../IMG/11lien-he_03.png", alt="")
                    | Điện thoại: 0164 579 4111
                .time
                    img(src="../../IMG/11lien-he_05.png", alt="")
                    | Email :quanlamtran@gmai.com