header 
    .action
        ul.action__ul
            li.li-1  
                p.li-p1 Green Shop
                p.li-p2 Món quà từ thiên nhiên
            li.li-2
                .divImg
                    img.img1(src="../../IMG/hoa-panner1.png", alt="")
                    img.img2(src="../../IMG/hoa-panner2.png", alt="")
            li.li-3
                p Hỗ trợ : (04) 6674 2332 - (04) 3786 8904
                .search
                    form(action="", method="get")
                        input.text
                        img(src="../../IMG/icon-search.png", alt="")
            li.li-4                    
                p.li-4-p  0 Sản phẩm &nbsp;&nbsp;&nbsp;&nbsp;
                    img(src="../../IMG/icon-Gio-Hang.png", alt="")
        include ..\nav\nav
    include ..\banner\banner        
