.lconnect {
  background-color: #202020;
  height: 32px;
  width: 1920px;
  ul {
    width: 1147px;
    display: flex;
    color: #6e6e6e;
    height: 32px;
    margin-bottom: 0rem;
    margin-left: 388.5px;
    li {
      border-color: #6e6e6e;
      display: inline-block;
      width: 36px;
      img {
        display: inline;
      }
      a {
        font-size: 14px;
        margin-top: 0.4rem;
        font-family: Arial, Helvetica, sans-serif;
        color: #6e6e6e;
      }
      p {
        font-size: 14px;
        margin-top: 0.4rem;
        font-family: Arial, Helvetica, sans-serif;
        color: #6e6e6e;
        margin-bottom: 0rem;
      }
    }
    .element-1 {
      flex-grow: 8;
    }
    .element-2 {
      flex-grow: 0;
    }
    .element-3 {
      flex-grow: 0;
    }
    .element-4 {
      flex-grow: 0;
    }
    .element-5 {
      flex-grow: 0;
    }
    .element-6 {
      flex-grow: 14;
    }
    .element-7 {
      flex-grow: 3;
    }
    .element-8 {
      flex-grow: 3;
    }
  }
}
@media only screen and (max-width: 480px) {
  .lconnect {
    display: none;
  }
}
