-const li1 ={class :"element-1",content :"Open time 8:00-18:00 Monday-Sunday",src :"",links:"#"}
-const li2 ={class :"element-2",content :"",src :"../../IMG/icon-facebook.png",links:"#"}
-const li3 ={class :"element-3",content :"",src :"../../IMG/icon-twier.png",links:"#"}
-const li4 ={class :"element-4",content :"",src :"../../IMG/icon-t.png",links:"#"}
-const li5 ={class :"element-5",content :"",src :"../../IMG/icon-v.png",links:"#"}
-const li6 ={class :"element-6",content :"",src :"",links:"#"}
-const li7 ={class :"element-7",content :"Đăng nhập",src :"../../IMG/icon-DangNhap.png",links:"#"}
-const li8 ={class :"element-8",content :"Đăng ký",src :"../../IMG/icon-dangky.png",links:"#"}