-const arrrayFooterElenmen_new=["Tin mới","Khuyến mại","Tuyển dụng","Download","Tags"]
-const arrrayFooterElenmen_subpost=["Hệ thống cửa hàng","Hướng dẫn mua hàng","Hướng dẫn thanh toán","tích điểm đổi quà ","Câu hỏi thường gặp"]
-const arrrayFooterElenmen_policy=[ "Chính sách giao hàng " ,"Chính sách đổi trả sản phẩm","Chính sách bảo hành","Giới thiệu sản phẩm mới","Chính sách trả góp"]
-const arrrayFooterElenmen_infoCustomer=["Tài khoản của tôi","Sản phẩm yêu thích","Lịch sử mua hàng"," Chính sách đổi trả"," Góp ý,khiếu nại"]