-const caychanchim ={ten :"Cây chân chim",content :"250.000 đ",src :"../../IMG/spx2-4.png"}
-const caycota ={ten :"Cây cọ ta",content :"250.000 đ",src :"../../IMG/spx2-11.png"}
-const cayduanho ={ten :"Cây dừa nhỏ",content :"250.000 đ",src :"../../IMG/spx2-6.png"}
-const caydalam ={ten :"Cây dạ lam",content :"250.000 đ",src :"../../IMG/spx2-5.png"}
-const caydanhdu ={ten :"Cây danh dự",content :"250.000 đ",src :"../../IMG/spx2-15.png"}
-const caydagocnho ={ten :"Cây đa gốc nhỏ",content :"250.000 đ",src :"../../IMG/spx2-3.png"}
-const caydabupnho ={ten :"Cây đa búp nhỏ",content :"250.000 đ",src :"../../IMG/caydabupnho.png"}

-const arrayCay=[caychanchim,caydalam,caydanhdu,caydabupnho,caycota,cayduanho]
-const arrayCay1=[caychanchim,caycota,cayduanho,caydalam,caydanhdu]
-const arrayCay3=[caydanhdu,cayduanho,caycota,caydalam,cayduanho,caydabupnho,caydagocnho,caychanchim]

-const info2 ={date:"Thứ 3,ngày 7,tháng 5,năm 2019",ten :"Tạo tiểu cảnh góc sân cho nhà kiểu phố, biệt thự đẹp",src :"../../IMG/11248902_984651828231999_68851709_n.png" ,detail:"Cùng Sài Gòn Hoa tìm hiểu một vài xu hướng thiết kế sấn vườn được ưa chuộng hiện nay nhé ! Kết hợp hàng rào"}
-const info1 ={date :"Thứ 3,ngày 7,tháng 5,năm 2019",ten :"15 thiết kế tuyệt đẹp vạn người mê",src :"../../IMG/Hard-to-kill-indoor-plants.png",detail:"Khi bước từ ngoài ngõ vào hay từ trong nhà đi ra,góc sân luôn là điểm nhìn đầu tiên của chúng ta."}
-const info3 ={date :"Thứ 3,ngày 7,tháng 5,năm 2019",ten :"Cách bố trí chậu hoa trước cửa ấn tượng",src :"../../IMG/The_Sill_84_Hester.png",detail:"Như thể hiện sự thân thiên cũng như sự hiếu khách của gia chủ,phần không gian trước cửa"}

-const arrayinfo=[info1,info2,info3]