-const caychanchim ={ten :"Cây chân chim",content :"250.000 đ",src :"../../IMG/spx2-4.png"}
-const caycota ={ten :"Cây cọ ta",content :"250.000 đ",src :"../../IMG/spx2-11.png"}
-const cayduanho ={ten :"Cây dừa nhỏ",content :"250.000 đ",src :"../../IMG/spx2-6.png"}
-const caydalam ={ten :"Cây dạ lam",content :"250.000 đ",src :"../../IMG/spx2-5.png"}
-const caydanhdu ={ten :"Cây danh dự",content :"250.000 đ",src :"../../IMG/spx2-15.png"}
-const caydagocnho ={ten :"Cây đa gốc nhỏ",content :"250.000 đ",src :"../../IMG/spx2-3.png"}
-const caydabupnho ={ten :"Cây đa búp nhỏ",content :"250.000 đ",src :"../../IMG/caydabupnho.png"}

-const Xanhcay={name:" Xanh cây",img:"../../IMG/Ellipse1.png"}
-const Tim={name:" Tím",img:"../../IMG/Ellipse2.png"}
-const Vang={name:" Vàng",img:"../../IMG/Ellipse3.png"}
-const Do={name:" Đỏ cam",img:"../../IMG/Ellipse4.png"}
-const Xanhtroi={name:" Xanh trời",img:"../../IMG/Ellipse5.png"}
-const Hong={name:" Hồng",img:"../../IMG/Ellipse6.png"}

-const arrayColor1=[Xanhcay,Tim,Vang]
-const arrayColor2=[Do,Xanhtroi,Hong]
-const arrayCay2=[caychanchim,caydalam,caydanhdu,caydabupnho,caycota,cayduanho,caydagocnho,caychanchim,caydalam,caydanhdu,caydabupnho,caycota]
-const arrayContent=["Cây chậu treo (10)","Cây cỏ hoa (3)","Cây dây leo (3)","Cây để bàn","Cây may mắn","Cây trang trí","Cây nội thất"]
-const arrayContent1=[" 200.000 Đ - 400.000 Đ"," 400.000 Đ - 600.000 Đ"," 600.000 Đ - 800.000 Đ"," 800.000 Đ - 1.000.000 Đ"]