-const tin1 ={mota:"Hướng dẫn lựa chọn và bố trí cây xanh trong phòng khách ",src :"../../IMG/new1.png"}
-const tin2 ={mota:"Những sai lầm nên tránh khi bố trí cây xanh trong nhà",src :"../../IMG/new2.png"}
-const tin3 ={mota:"7 loại cây xanh để bàn đang được giới văn phòng ưa chuộng",src :"../../IMG/new3.png"}
-const tin4 ={mota:"Hướng dẫn lựa chọn cây xanh trang trí trong văn phòng",src :"../../IMG/new4.png"}
-const tin5 ={mota:"4 loại cây xanh thích hợp bài túy ở khu vực đại sảnh",src :"../../IMG/new5.png"}

-const arrayTin=[tin1,tin2,tin3,tin4,tin5] 
-const arrayTag=[" Cây văn phòng"," Cây phát lộc"," Cây xanh"," Cây trang trí"," Cây"," Plants"," Sức khỏe"," Quà tặng"," Lưu liệm"]