.container-home {
  margin-left: 388.5px;
  width: 1145px;
  margin-top: 58px;
}

.container-home .checked {
  color: yellow;
}

.container-home__best__p, .container-home__titleSell .title__sell__p, .container-home__titleSell .title__sale__p, .container-home .title__new__p, .container-home .title__info__p {
  display: inline-block;
  color: #54c081;
  font-weight: bold;
  height: 40px;
  border-bottom: 3px solid #54c081;
  margin-bottom: 0rem;
}

.container-home__best__hr, .container-home__titleSell .title__sell__hr, .container-home__titleSell .title__sale__hr, .container-home .title__new__hr, .container-home .title__info__hr {
  margin-top: 0rem;
  margin-bottom: 40px;
}

.container-home__best__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 32px;
}

.container-home__best__list .card {
  text-align: center;
  position: relative;
}

.container-home__best__list .card__status {
  position: absolute;
  color: white;
  background: #54c081;
  height: 60px;
  width: 60px;
  border-radius: 44px;
  top: 10px;
  left: 10px;
}

.container-home__best__list .card__status__p {
  margin-top: 13px;
}

.container-home__best__list .card__action {
  position: absolute;
  color: white;
  background: #54c081;
  height: 44px;
  width: 146px;
  border-radius: 20px;
  top: 218px;
  left: 177px;
}

.container-home__best__list .card__action__p {
  margin-top: 10px;
}

.container-home__best__list .card__search {
  position: absolute;
  color: white;
  background: #54c081;
  height: 44px;
  width: 44px;
  border-radius: 44px;
  top: 218px;
  left: 335px;
}

.container-home__best__list .card__search img {
  margin-top: 12px;
}

.container-home__best__list__list1 {
  background-color: white;
}

.container-home__best__list__list1__listCard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 32px;
  margin-top: 32px;
}

.container-home__best__list__list2 {
  background-color: white;
}

.container-home__best__list__list2__listCard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 32px;
}

.container-home__best__list__list2__Cardbig {
  margin-top: 32px;
}

.container-home__titleSell {
  margin-top: 20px;
}

.container-home__sell {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-gap: 32px;
}

.container-home__sell__list, .container-home__titleSell {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 262px 849px;
      grid-template-columns: 262px 849px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 32px;
}

.container-home__sell__list__best {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  grid-gap: 0px;
}

.container-home__sell__list__best img {
  width: 77px;
  height: 77px;
  margin: 20px;
}

.container-home__sell__list__sale {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-gap: 32px;
}

.container-home__sell__advertisement {
  height: 300px;
  width: 100%;
  background: url(../../IMG/banner-11140x217.png);
  background-repeat: no-repeat;
}

.container-home__new {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-gap: 32px;
}

.container-home .title__info__hr {
  width: 1147px;
}

.container-home__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 32px;
}

.container-home__info .card {
  border: none;
}

.container-home__info .card-body {
  padding: 0px;
}

.container-home__info .card-date {
  color: #918e8e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-home__info .card-name {
  color: #3fb871;
  font-weight: bold;
  font-size: 14px;
}

.container-home__info .card-detail {
  color: #918e8e;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.container-home__info .text-cont {
  color: #3fb871;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

@media only screen and (max-width: 480px) {
  .container-home {
    width: 320px;
    margin-left: 0px;
  }
  .container-home__best__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
    grid-gap: 21px;
  }
  .container-home__sell__list, .container-home__titleSell {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    grid-gap: 21px;
    margin-left: 33px;
    margin-right: 33px;
  }
  .container-home__sell__list__best {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
    grid-gap: 0px;
  }
  .container-home__sell__list__best img {
    width: 77px;
    height: 77px;
    margin: 20px;
  }
  .container-home__sell__list__sale {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 21px;
  }
  .container-home__sell__advertisement {
    background: url(../../IMG/12-Mobile_03.png);
    background-repeat: no-repeat;
    width: 289px;
    margin-left: 10px;
    height: 80px;
  }
  .container-home__new {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-gap: 21px;
  }
  .container-home__titleSell {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
    grid-gap: 0px;
  }
  .container-home__titleSell .title__sale {
    display: none;
  }
  .container-home__info {
    display: none;
  }
}
/*# sourceMappingURL=home.css.map */